

<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://angular.io/license
-->
                    

<section class="shopping-cart" *ngIf="cart.lines.length > 0">
  <h4>Shopping cart</h4>
  <ul>
    <li *ngFor="let line of cart.lines">{{line.quantity}} {{line.article.name}} at {{line.article.price | goldCoins}}</li>
  </ul>
  <p><strong>Total:</strong> {{cart.total | goldCoins }} </p>
</section>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://angular.io/license
-->
            
