<section *ngIf="article">

  <md-card>fuck</md-card>

  <md-card>
    <md-card-title>{{article.name}}</md-card-title>
    <md-card-content>
      <img [src]="article.imageUrl">
      <p>{{article.description}}</p>
      <p><strong>Price: </strong> {{article.price | goldCoins}}</p>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Specifications</md-card-title>
    <md-card-content>
      <ul>
        <li *ngFor="let spec of article.specs">{{spec.name}}: {{spec.value}}</li>
      </ul>
    </md-card-content>
  </md-card>

  <md-card>
    <h2>Review</h2>
    <button *ngIf="!newReview" (click)="addReview()" md-raised-button>Add Review</button>
    <add-review-form [review]="newReview" (onSaveReview)="addReviewToArticle($event)"></add-review-form>
    <user-review *ngFor="let review of article.reviews" [review]="review"></user-review>
  </md-card>

  <md-card>
    <button md-raised-button (click)="goBack()">Back</button>
  </md-card>
</section>