<section *ngIf="article">
  <h1>{{article.name}}</h1>
  <img [src]="article.imageUrl">
  <p>{{article.description}}</p>
  <p><strong>Price: </strong> {{article.price | goldCoins}}</p>
  <section>
    <h2>Specifications</h2>
    <ul>
      <li *ngFor="let spec of article.specs">{{spec.name}}: {{spec.value}}</li>
    </ul>
  </section>
  <section>
    <h2>Review</h2>
    <button (click)="addReview()">Add Review</button>
    <add-review-form [review]="newReview" (onSaveReview)="addReviewToArticle($event)"></add-review-form>
    <user-review *ngFor="let review of article.reviews" [review]="review"></user-review>
  </section>
  <button (click)="goBack()">Back</button>
</section>