

<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://angular.io/license
-->
                    

<shop-welcome></shop-welcome>
<section class="app-content">
    <router-outlet></router-outlet>
</section>
<shop-footer></shop-footer>



<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://angular.io/license
-->
            
