

<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://angular.io/license
-->
                    

<section *ngIf="review">
  <form (submit)="saveReview()" #form="ngForm">
    <div class="form-group">
      <!--
      <label for="author">Author: </label>
      <input type="text" name="author" [(ngModel)]="review.author" disabled>
      -->

      <md-input placeholder="Author name" maxlength="100" class="demo-full-width" name="author" [(ngModel)]="review.author" disabled>
      </md-input>
    </div>

    <div class="form-group">
      <md-input placeholder="Title" maxlength="100" class="demo-full-width" name="title" [(ngModel)]="review.title" required [class.invalid]="!title.valid && title.dirty" #title="ngModel">
      </md-input>
      <span class="error-message" *ngIf="!title.valid && title.dirty">Please be so kind to fill in the title of your review</span>

      <!--
      <label for="title">Title: </label>
      <input type="text" name="title" [(ngModel)]="review.title" required [class.invalid]="!title.valid && title.dirty" #title="ngModel">
      <span class="error-message" *ngIf="!title.valid && title.dirty">Please be so kind to fill in the title of your review</span>
      -->
    </div>

    <div class="form-group">
      <md-input placeholder="Content" maxlength="100" class="demo-full-width" name="content" [(ngModel)]="review.content" 
          required [class.invalid]="!content.valid && content.dirty" #content="ngModel">
      </md-input>
      <span class="error-message" *ngIf="!content.valid && content.dirty">Please be so kind to fill in the content of your review</span>
    </div>

    <div class="form-group">
      <label for="rating">Rating:</label>
      <input type="number" name="rating" [(ngModel)]="review.rating" required max=5 min=0>
    </div>

    <button md-raised-button color="primary" type="submit" name="addReview" [disabled]="!form.valid">Add Review</button>
  </form>
  <!--preview-->
  <user-review [review]="review"></user-review>
<section>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://angular.io/license
-->
            
