

<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://angular.io/license
-->
                    

<section>
  <md-toolbar color="primary">
    <h1>
      <md-icon class="icon-20">shop</md-icon>
      {{welcomeMessage}}
    </h1>
  </md-toolbar>
</section>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://angular.io/license
-->
            
