/* You can add global styles to this file, and also import other style files */

.error {
    border: 1px solid red;
    background-color: lightcoral;
    padding: 10px;
}


.form-group{
    display: block;
    padding: 12px;

    label {
        display: inline-block;
        width: 75px;
    }
}

.invalid{
    border: 1px solid red;
    background-color: lightpink;
}

.error-message {
    color: red;
    margin: 10px;
}