

<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://angular.io/license
-->
                    

<section class="item" *ngIf="article"> 
  <header><h4>{{article.name}}</h4></header>
  <section class="item__description">
    <img [src]="article.imageUrl">
    <p>{{article.description}}</p>
    <p> Price: {{article.price | goldCoins}} </p>
  </section>
  <footer>
    <button (click)="buyArticle()">Buy!</button>
    <a [routerLink]="['/shop', article.id]">More info</a>
  </footer>
</section>



<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://angular.io/license
-->
            
